.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vite*.config.js
tsconfig*.json
*.ts
*.tsx
*.map
*.spec.ts
*.test.ts
node_modules/**
!dist/extension.js
!dist/extension.js.map
*.tgz
*.tar.gz
README.md
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.eslintrc.json
.eslintrc.js
.prettierrc
.prettierrc.js
.prettierrc.json
.prettierignore
.editorconfig
.gitattributes
.github/**
.gitlab/**
.husky/**
.lintstagedrc
.yarn/**
.npmrc
pnpm-lock.yaml
yarn.lock
package-lock.json
Dockerfile
.dockerignore
compose.yaml
docker-compose.yml
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.nyc_output
coverage/**
.nycrc
.c8rc.json
jest.config.js
jest.config.ts
vitest.config.js
vitest.config.ts
karma.conf.js
karma.conf.ts
mocha.opts
.ember-cli
.grunt
.gulp
.jscsrc
.jshintrc
.tslint.json
.stylelintrc
.stylelintrc.json
.htmlhintrc
.babelrc
.babelrc.js
.browserslistrc
.npmrc
.nvmrc
.watchmanconfig
.flowconfig
.jsbeautifyrc
.commitlintrc.json
.commitlintrc.js
.lighthouserc.js
.lighthouserc.json
.cypress
cypress.json
cypress.env.json
playwright.config.js
playwright.config.ts
wdio.conf.js
wdio.conf.ts
nightwatch.conf.js
nightwatch.conf.ts
puppeteer.config.js
puppeteer.config.cjs
testcafe.json
testcafe.config.js
automation.json
automation.config.js
.codeclimate.yml
.remarkrc
.remarkrc.js
.prettierrc.yml
.prettierrc.yaml
.markdownlint.json
.markdownlint.yaml
.markdownlint.yml
.textlintrc
.textlintrc.json
.sass-lint.yml
.stylelintrc.yaml
.stylelintrc.yml
.hintrc
.hintrc.json
.hintrc.yaml
.hintrc.yml
.sonarlint
.codecov.yml
.coveralls.yml
.travis.yml
.circleci/config.yml
.gitlab-ci.yml
azure-pipelines.yml
appveyor.yml
.codesandbox
.mergify.yml
.dependabot/config.yml
.fluid
.vscodeignore
build.js
package.vscode.json